body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}
.button {
  padding: 20px 30px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  background-color: white;
  border-radius: 11px;
  cursor: pointer;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, -5px, 5px);

  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

input {
  padding: 20px 50px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, -5px, 5px);
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
h2 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

button:focus {
  outline: none;
}

button:hover {
  transform: translate3d(0, 0, 0);
  box-shadow: none;
}
